* {
  margin: 0;
  hyphens: none;
}

:root {
  --font-size: 12px;
  --color: darkgrey;
  --gutter: calc(var(--font-size) * 1.618);
}

@media (min-width: 1280px) {
  :root {
    --font-size: 24px;
    --spacing: 40px;
    --color: black;
    --accent: grey;
  }
}

.logo {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: var(--font-size);
  text-decoration: none;
  font-size: calc(var(--font-size) * 3.5);
}

nav {
  display: flex;
  flex-direction: column;
  color: var(--color);
  margin-left: calc(var(--spacing) * 15);
  margin-top: calc(var(--spacing) * 1.5);
}

nav a {
  color: var(--color);
  text-decoration: none;
  font-size: calc(var(--font-size));
  margin-left: calc(var(--spacing) * 15);
  margin-top: calc(var(--gutter) / 10);
}

nav a:hover {
  color: var(rgb(68, 173, 243));
}

nav a:active {
  text-decoration: underline;
}

body,
html {
  font-family: "";
  height: 100%;
  margin: 0;
}

.name,
.description {
  display: inline-block;
  margin: 0 20px;
}

/* youtube */
.responsive-iframe {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
}

.footer {
  background-color: white;
  color: black;
  text-align: right;
  padding: calc(var(--font-size) / 2.5);
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
}

.name,
.description,
.pj {
  display: inline-block;
  margin: 0 20px;
}
