/* These styles are just to make it easier to see the blocks, initially. */

@font-face {
  font-family: heavy;
  src: url(heavy.otf);
}

:root {
  --spacing: 2em;
  --font-size: 12px;
  --color: darkgrey;
  --gutter: calc(var(--font-size) * 1.618);
}
@media (min-width: 1400px) {
  :root {
    --font-size: 24px;
    --spacing: 40px;
    --color: black;
    --accent: grey;
  }
}
body {
  --spacing: 2em;
  font-family: monospace;
  padding: var(--spacing);
}

body,
header,
section,
ul,
footer,
address {
  display: grid;
  gap: var(--spacing);
}
ul {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

#channel-blocks li {
  width: 180px;
  height: 180px;
  margin-bottom: 25px;
  border-radius: 100px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.5s linear;
}

/* image hover & speed changes */
.block .block--image figure {
  transition: all 0.5s;
}

.block .block--image figure:hover {
  transform: scale(1.1);
}

ul li figure {
  height: 100%;
  border-radius: 100px;
}
ul li figure img,
video {
  /* width: 100%;
  height: 100%; */
  border-radius: 100px;
  overflow: hidden;
  width: 70%;
  height: 70%;
}

main {
  min-width: 600px;
}

em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
p {
  max-width: 50ch;
}
a {
  color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  hyphens: none;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
}
.container header .header-icon {
  width: 70%;
  height: 300px;
  background: url(./aw.gif) center no-repeat;
}
article {
  margin-left: calc(var(--spacing) * 25);
}
p.intro {
  color: grey;
  width: 30%;
}

.logo {
  float: left;
  display: block;
  color: black;
  font-size: calc(var(--font-size) * 4);
  text-align: left;
  padding: var(--font-size);
  text-decoration: none;
  margin-left: var(--spacing);
  margin-top: var(--spacing);
}

nav {
  position: fixed;
  top: 0;
  right: 3%;
  z-index: 1000;
  padding: calc(var(--spacing) / 4);
  margin-top: calc(var(--spacing) * 1.2);
}

nav a {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 80px;
  color: #ccc;
  text-decoration: none;
  font-size: calc(var(--font-size / 1.5));
  margin-left: var(--spacing);
}

nav a:hover {
  color: var(rgb(190, 190, 190));
}
nav a:active {
  text-decoration: underline;
}

body,
html {
  font-family: "";
  height: 100%;
  margin: 0;
}

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 1280px;
  height: auto;
}

.box img {
  width: auto;
  height: 600px;
  margin: var(--spacing);
}

.middleimg {
  width: 100%;
  height: 100%;
  border: solid black 1px;
  margin-top: calc(var(--spacing) * 2);
}

.pdf-title {
  font-size: calc(var(--font-size) * 2);
  margin-top: calc(var(--spacing) * 2);
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: calc(var(--spacing) * 1.5);
  margin-bottom: calc(var(--spacing) * 3);
}

.wnpdf {
  width: 70%;
  height: 80%;
  margin-bottom: calc(var(--spacing) * 3);
}

.blackwhole {
  background-color: black;
  width: 44.8%;
  height: 100vh;
}

.footer {
  background: url(./02.svg) center no-repeat white;
  color: black;
  text-align: right;
  padding: calc(var(--font-size) / 1.5);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid black;
}

.name,
.description,
.pj {
  display: inline-block;
  margin: 0 20px;
}

#imageButton {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 10px 40%;
  color: #fff;
  text-align: center;
}
#imageButton:hover {
  cursor: pointer;
}

.block--image__description {
  display: none;
  position: fixed;
  color: white;
  padding: 2em;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  inset: 0;
  z-index: 1200;
}
.block--image__description .close {
  width: 100px;
  height: 50px;
  border-radius: 50px;
  background: gray;
  color: #fff;
  text-align: center;
  margin-top: 2em;
  cursor: pointer;
}
.block--image__description img {
  display: block;
  width: 30%;
  height: 50%;
  border-radius: 10px;
}
.block--image__description .intro {
  margin-top: 10px;
  color: #fff;
}
.block--image.active .block--image__description {
  display: block;
}

/* click to top */
#mouse {
  font-size: 70px;
  position: fixed;
  right: 3%;
  bottom: 70px;
  cursor: pointer;
}

#channel-links {
  margin: 50px 180px;
}

.block.block--link,
.block.block--pdf,
.block.block--media {
  width: 250px;
  height: 190px;
  margin-bottom: 50px;
  border-radius: 50%;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.block.block--link a {
  display: block;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: -15%;
  transition: all 0.5s linear;
}
.block.block--link a:hover {
  transform: scale(1.1);
}
.block.block--pdf a:hover {
  transform: scale(1.1);
}
.block.block--media a:hover {
  transform: scale(1.1);
}
.block.block--pdf a {
  display: block;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: -15%;
}

.block.block--media a {
  display: block;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  top: -15%;
}

.title-links {
  margin-top: 20%;
  text-align: left;
  display: flex;
  justify-content: left;
  padding-left: 15%;
}

.title-links p span {
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
}

footer p {
  font-family: "Love Ya Like A Sister", cursive;
}

@media (min-width: 375px) and (max-width: 430px) {
  .container {
    width: 300px;
    height: 200px;
  }
  .container header .header-icon {
    width: 100%;
    height: 200px;
    background: url(./aw.gif) top right/134% 100% no-repeat;
  }
  article {
    margin-left: calc(var(--spacing) * 5);
  }
  nav {
    width: 100px;
    top: 0;
    left: 70%;
    z-index: 1000;
    margin-top: calc(var(--spacing) * 1.2);
    transform: scale(0.7);
  }
  p.intro {
    width: 100%;
    margin-left: 0;
    font-size: 12px;
    margin-top: 50px;
  }
  #channel-title {
    display: none;
  }
  #channel-title + p {
    display: none;
  }
  main {
    min-width: 300px;
    max-width: 300px;
  }
  main section h2 {
    width: 300px;
    padding-top: 110px;
    font-size: 13px;
  }
  #channel-blocks {
    width: 300px;
    /* transform: scale(.8); */
  }
  #channel-blocks li {
    width: 120px;
    height: 120px;
  }
  #channel-links {
    width: 300px;
    margin: 0;
  }
  .block.block--image {
    transform: scale(0.8);
  }
  .block.block--video {
    transform: scale(0.8);
  }
  .title-links {
    margin-top: -18%;
    padding-left: 15%;
    padding-bottom: 20px;
  }
  .name,
  .description,
  .pj {
    display: inline-block;
    margin: 0 20px;
    font-size: 10px;
  }
  #mouse {
    transform: scale(0.8);
    left: 75%;
  }
}
@media (min-width: 430px) and (max-width: 1024px) {
  .container header .header-icon {
    width: 100%;
    height: 200px;
    background: url(./aw.gif) top right/125% 100% no-repeat;
  }
  article {
    margin-left: calc(var(--spacing) * 5);
  }
  nav {
    width: 100px;
    top: 0;
    left: 82%;
    z-index: 1000;
    margin-top: calc(var(--spacing) * 1.2);
  }
  nav a {
    margin-left: 0;
  }
  p.intro {
    width: 65%;
    margin-left: 0;
    font-size: 18px;
    margin-top: 50px;
  }

  main section h2 {
    font-size: 16px;
  }
  #channel-blocks {
    width: 85%;
  }
  #channel-blocks li {
    width: 120px;
    height: 120px;
  }
  #channel-links {
    margin: 0;
    margin-left: 8%;
  }
  .block.block--image {
    transform: scale(0.8);
  }
  .block.block--video {
    transform: scale(0.8);
  }
  .title-links {
    margin-top: 5%;
    padding-left: 30%;
    padding-bottom: 50px;
  }
  .name,
  .description,
  .pj {
    display: inline-block;
    margin: 0 20px;
    font-size: 15px;
  }
  #mouse {
    left: 82%;
  }
}
